<div class="container">
    {{>imagepigeon}}
    <div class="text">Edit your profile.</div>
    <form method="POST">
        <input class="input" type="text" name="FirstName" placeholder="first name" value="{{first_name}}">
        <input class="input" type="text" name="LastName" placeholder="last name" value="{{last_name}}">
        <input class="input" type="text" name="Email" placeholder="email" value="{{email_address}}">
        <input class="input" type="password" name="Password" placeholder="password">
        <input class="input" type="text" name="Age" placeholder="age" value="{{age}}">
        <input class="input" type="text" name="City" placeholder="city" value="{{city}}">
        <input class="input" type="text" name="Homepage" placeholder="homepage" value="{{url}}">
        {{#if errorhomepage}}
        <div class="error-message">Your homepage should start with http:// or https://. Please enter a valid
            url!</div>
        {{/if}}
        <input class="btn" type="submit" value="UPDATE">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>